/* General Styling for page elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    font-family: "Oxygen", Times, serif;
}
img {
    max-width: 100%;
}

/* navbar styling */
.navbar {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    padding: 15px;
}
.navbar img {
    height: 60px;
    width: 60px;
    align-self: flex-start;
}
.navbar > div {
    margin: auto 0;
}
.nav--links {
    list-style-type: none;
    display: flex;
}
.nav--links a {
    text-decoration: none;
    color: black;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

/* Section 1 - Just Vermont Heading and subheading */
.section1 {
    padding-bottom: 60px;
}
.section1 h1 {
    font-family: "Buda", Times, serif;
    font-size: 8rem;
    font-weight: 500;
    text-align: center;
    text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.4);
}
.section1 h2 {
    font-size: 1.5rem;
    text-align: center;
    text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.2);
}

/* Section 2 - City description blocks */

.section2 {
    position: relative;
    background-image: url('/Users/dom/Documents/WGU/D277 - Front End Web Development/Vermont Website/Images/Vermont Desktop Background - For Website Background.jpeg');
    background-size: contain;
    background-position: center;
    margin: auto;
    /* width: 100%; */
}
.section2 > h1 {
    font-family: "Caramel", Times, sans;
    font-weight: 200;
    text-align: center;
    font-size: 6rem;
    color: white;
    text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.4);
}
.city--content{
    position: relative;
    top: 75px;
}
/* Montpelier box styling */
.city--mont {
    margin: auto;
    background-color: rgba(251, 244, 222);
    width: 1100px;
    height: 280px;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 25px;
    text-align: end;
}
.city--mont img {
    max-width: 44.7%;
    height: auto;
    border-radius: 25px 0px 0px 25px;
    position: absolute;
    left: 0px;
}
.city--mont h2, p, a{
    padding: 30px 40px 0px 0px;
}
.city--mont p {
    padding-bottom: 10px;
}

/* Section 3 - Burlington/Stowe vertical box styling */
.city--stowe-burlington {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    gap: 120px;
    
}
.city--vert-box {
    background-color: red;
    height: 100px;
    width: 440px;
    max-width: 440px;
    position: relative;
    top: 100px;

}



/* Re-usable CSS */

.site--container {
    max-width: 1920px;
    margin: auto;
}