/* General Styling for page elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    font-family: "Oxygen", Times, serif;
}
img {
    max-width: 100%;
}
h2 {
    font-size: 2rem;
}
a {
    font-weight: 500;
    color: black;
}
a:hover {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
}

/* navbar styling */

.navbar {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    padding: 15px;
}
.navbar img {
    align-self: flex-start;
    height: 60px;
    width: 60px;
    object-fit: cover;
    overflow: visible;
}
.navbar > div {
    margin: auto 0;
}
.nav--links {
    display: flex;
    list-style-type: none;
}
.nav--links a {
    padding: 10px;
    text-decoration: none;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    color: black;
}

/* Section 1 - Just Vermont Heading and subheading */

.section1 {
    padding-bottom: 60px;
}
.section1 h1 {
    font-family: "Buda", Times, serif;
    font-size: 8rem;
    font-weight: 500;
    text-align: center;
    text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.4);
}
.section1 h2 {
    font-size: 1.5rem;
    text-align: center;
    text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.2);
}

/* Section 2 - City description blocks */

.section2 {
    position: relative;
    margin: auto;
    padding-bottom: 100px;
    background-image: url('Vermont Desktop Background - For Website Background.jpeg');
    background-size: contain;
    background-position: center;
}
.section2 > h1 {
    font-family: "Caramel", Times, sans;
    font-weight: 200;
    text-align: center;
    font-size: 6rem;
    color: white;
    text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.4);
}
.city--content{
    position: relative;
    /* top: 75px; */
    margin: auto;
    max-width: 1000px;
}
/* Montpelier box styling */
.city--mont {
    position: relative;
    margin: auto;
    max-width: 1100px;
    height: 280px;
    text-align: end;
    border: 1px solid rgba(128, 128, 128, 0.2);
    background-color: rgba(251, 244, 222);
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}
.city--mont img {
    position: absolute;
    left: 0px;
    height: 100%;
    max-width: 44.7%;
    border-radius: 25px 0px 0px 25px;
}
.city--mont aside{
    padding: 30px 40px 0px 0px;
}
.city--mont p {
    padding-bottom: 10px;
    font-weight: 450;
    font-size: 1.1rem;
}

/* Section 3 - Burlington/Stowe vertical box styling */

.city--stowe-burlington {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 50px;
    margin: auto;
    max-width: 1000px;
    gap: 120px;
    flex-wrap: wrap;
}
.city--vert-box {
    position: relative;
    top: 100px;
    max-width: 440px;
    width: 440px;
    height: 650px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    background-color: rgba(251, 244, 222);
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.198);
    border-radius: 25px;
}
.city--vert-box h2 {
    padding: 20px 0px 20px 20px;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 25px 25px 0px 0px;
}
.city--vert-box p {
    padding: 20px 0px 0px 20px;
    font-weight: 450;
    font-size: 1.1rem;
    max-width: 400px;
}
.city--vert-box a {
    float: right;
    font-size: 1.2rem;
    margin: 25px 15px 0px 0px;
}
.city--vert-box img {
    position: absolute;
    bottom: 20px;
    left: 45px;
    width: 350px;
    height: 350px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid grey;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.365);
}

/* Section 4 - Camping - Fishing - Skiing*/

.section4 {
    position: relative;
    top: 180px;
    max-width: 1100px;
    /* margin: auto; */
}
 .section4 > :first-child {
    text-align: left;
    width: 1100px;
    margin: auto;
    padding: 5px 20px;
    background-color: rgba(251, 244, 222);
    box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.198);
    border-radius: 15px;
} 

.walk--containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
    margin: auto;
}
.walk--containers > h3 {
    padding: 25px 0px;
    font-size: 1.5rem;
    text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.25);
}
.walk--container1 {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 400px;
    align-items: center;
}
.walk--container1 > img {
    width: 200px;
    height: 200px;
}
#walk--container-1_image {
    flex-grow: 2;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.25);
    width: 350px;
    height:350px;
    margin-left: 40px;
}
.walk--container2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.walk--container2 > :first-child {
    width: 200px;
    height: 200px;
    transform: scaleX(-1);
}
.walk--container2_img {
    width: 350px;
    height: 350px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
    overflow: hidden;
    object-fit: cover;
}

/* Section 5 - State Parks */
.section5 {
    position: relative;
    top: 200px;
    max-width: 1100px;
    margin: auto;
    text-align: center;
}
.park--conts {
    display: flex;
    justify-content: space-evenly;
    /* width: 100%; */
}
.park--cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 375px;
    height: 475px;
    background-color: rgba(251, 244, 222);
    border-radius: 25px;
    margin: 25px 0px;
    text-align: center;
    box-shadow: -2px 1px 7px rgba(128, 128, 128, 0.5);
}
.park--cont img {
    width: 375px;
    height: 295px;
    overflow: hidden;
    object-fit: fill;
    border-radius: 25px 25px 0px 0px;
}
/* .park--cont p {
    padding-top: 10px;
} */
.park--cont_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    padding: 0px 15px;
    margin-bottom: 10px;
}
/* .park--cont a {
    align-content: flex-end;
} */
.footer--separator {
    position: relative;
    top: 55px;
    margin: auto;
    width: 800px;
    height: 6px;
    background-color: rgba(237, 237, 237, 0.9);
    border-radius: 2px;
    
}

/* Footer */
.section6 {
    position: relative;
    top: 300px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}
.foot--conts {
    display: flex;
    justify-content: space-between;
}
.foot--cont {
    padding: auto;
}
.foot--conts div:first-of-type li {
    list-style-type: none;
    padding: 5px 0px;
}
.foot--cont img {
    width: 230px;
    height: 230px;
    background-size: cover;
    background-position: center center;
}
.qwert {
    flex: 1;
    height: 264px;
}
.foot--conts div:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
}

/* Re-usable CSS */

.site--container {
    max-width: 1920px;
    margin: auto;
    text-align: center;
}
.txtimg-cont {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    align-items: center;
    padding: 50px 0px 65px 0px;
}

/*                          Styling for City Pages                            */

.cpburl-section1 {
    position: relative;
    margin: auto;
    height: 600px;
    background-image: url('burl-3.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cpsto-section1 {
    position: relative;
    margin: auto;
    height: 600px;
    background-image: url('sto-2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cp-section1 {
    position: relative;
    margin: auto;
    height: 600px;
    background-image: url('montp-backg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sec1--title_text {
    padding: 50px 0px 0px 40px;
    text-align: start;
}
.sec1--title_text h1 {
    font-size: 3.0rem;
    font-weight: 900;
}
.sec1--title_text p {
    font-size: 1.3rem;
    color: white;
}
/* Section 2 */
.cp-section2__text {
    width: 500px;
    /* height: auto; */
}
.cp-section2__text p {
    padding-top: 25px;
}
.cp-section2__img {
    width: 250px;
}
/* Section 3 */
.cp-section3 {
    height: 350px;
    width: auto;
    background-image: url('mont-banner-1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cpburl-section3 {
    height: 350px;
    width: auto;
    background-image: url('burl-banner.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cpsto-section3 {
    height: 350px;
    width: auto;
    background-image: url('sto-banner.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#cp-section3__img {
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    margin-top: 20px;
}
.cp-section4 {
    position: relative;
    /* width: 1200px; */
    margin: auto;
    text-align: center;
}
.seca {
    height: 400px;
}
.floats-arebad {
    max-width: 800px;
    margin: -20px auto auto auto;
    /* padding-bottom: 15px; */
}
.floats-arebad div {
    width: 400px;
    height: 400px;
    float: right;
}

.floats-arebad aside {
    width: 400px;
    height: 400px;
    float: left;
}
.cp-footer {
    position: relative;
    top: 100px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}
.txtimg-cont div:last-of-type {
    max-width: 400px;
}

/* Somewhat Starting over with Why Vermont page to hopefully apply what i've learned doing the rest of the site */

.hero {
    display: flex;
    width: 100%;
    height: 450px;
    background-image: url('elmore.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.hero .site--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.198);
    height: 100%;
    width: 100%;
    color: white;
    padding: auto;
}
.sec1 h2 {
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.198);
    margin: 15px auto;
}
.why--winterevents {
    display: grid;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: 3fr 1fr 6fr;
    max-width: 1200px;
    width: 100%;
    padding: 15px;
    gap: 10px;
}
.why--winterevents img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.why--winterevents p {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}
.winterevents__txt {
    padding: 15px 10px 0px 10px;
}
.winterevents__1 {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 15px;
}
.winterevents__2 {
    grid-area: 1 / 3 / 2 / 4;
}
.winterevents__3 {
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 15px;
}
.winterevents__4 {
    grid-area: 2 / 3 / 3 / 4;
}
.winterevents__5 {
    grid-area: 3 / 1 / 4 / 2;
    border-radius: 15px;
}
.winterevents__6 {
    grid-area: 3 / 3 / 4 / 4;
}
.left-col {
    width: 49%;
    float: left;
}
.right-col {
    width: 49%;
    float: right;
}
.why--banner-1 {
    background-image: url('burl-banner-2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    margin-top: 20px;
}
.why--banner-1__cont {
    color: white;
}
table {
    margin: auto;
    width: 80%;
    border: 1px solid white;
    height: 60%;
}
table, th, td {
    border-collapse: collapse;
}
td a {
    color: white;
}
td {
    text-align: left;
    padding-left: 35px;
}
.why--banner-1__cont {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    text-align: center;
}
.why--banner-1__cont h2 {
    padding-top: 15px;
}
.why--banner-1__cont p {
    margin: 5px 0px 20px 0px;
}
.sec4 {
    background-color: rgba(0, 0, 0, 0.04);
    height: 350px;
}
.sec4 aside {
    display: flex;
    float: left;
    width: 40%;
    height: 300px;
    flex-direction: column;
    justify-content: center;
}
.why__form {
    width: 600px;
    float: right;
    width: 49%;
    height: 300px;
}
.cont-left {
    float: left;
    width: 49%;
    height: 100px;
}
.cont-right {
    float: right;
    width: 49%;
    height: 100px;
}
.cont-left input {
    width: 100%;
}
.cont-right input {
    width: 100%;
}
input, select {
    display: inline-block;
    width: 100%;
    margin: 10px auto;
}
fieldset {
    border: none;
}
.form-sel__label {
    vertical-align: top;
}
#tarea {
    width: 80%;
    margin-top: 50px;
}
.form__button {
    display: block;
    margin-top: 15px;
    width: 100px;
    height: 30px;
}
.bottom-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sec6 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 20px 0px;
}
.sec3 .gallery {
    width: 800px;
    margin: auto;
}
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}
.gal_h3 {
    margin-bottom: 10px;
}
.gal_img {
    width: 300px;
    height: 300px;
    box-shadow: -2px 1px 7px rgba(128, 128, 128, 0.5);
    border-radius: 20px;
}
.gal_img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}
.gal_item {
    margin: 15px 0px;
}
.why--winterevents p::first-line {
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 10px;
}
.cp-flright {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cp-flright img {
    display: inline-block;
    margin: auto;
}
.cp-flleft {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
}
.cp-flleft h3 {
    margin: -20px 0px 0px 0px;
}
.cp-flleft p {
    margin: -70px 0px 0px 0px;
}
.cp-flleft ol {
    margin: -10px 15px 0px 35px;
    line-height: 1.8em;
}
.cp-flleft ol li {
    text-align: left;
}
#error {
    width: 300px;
    height: auto;
}